@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

table > tr {
  vertical-align: middle;
}

tr {
  display: table-row;
}

td {
  height: 40px;
  padding: 0;
}

table tr td {
  color: #4E4E4E;
  border: 1px solid #4E4E4E;
  text-align: center;
  font-weight: 700;
}

table tr:nth-child(even) {
  background-color: #f5f5f5;
}